<!DOCTYPE html>
    <html lang="en-US">
        <%- include('_partials/header') %>
        <body class="home page-template-default page page-id-6 stickyheader header-spacing-off wpb-js-composer js-comp-ver-5.4.5 vc_responsive">            <div class="site">
                <div class="site-wrap">
                    <%- include('_partials/nav') %>
                    <div style="height: 220px; margin-bottom: 0px;background: url(images/header.jpg) bottom right no-repeat #0a1992;"></div><main class="site-main"><div class="container content-container"><div class="row"><div class="col-md-12"><div class="page-content-wrap">
                        <div class="vc_row wpb_row vc_row-fluid vc_column-gap-30 vc_row-o-content-middle vc_row-flex">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left vc_custom_1531488202137">
                        <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper vc_box_border_grey">
                        
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/GmOzih6I1zs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        </figure>
                        </div>
                        </div>
                        </div>
                        </div>
                        
                        
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <h2 class="anps-heading" style="text-align: left;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||20;font-size:|||30;line-height:|||1.3;" class="anps-heading__text">About Legalbtcmining</span>
                        </h2>
                        <div class="wpb_text_column wpb_content_element">
                        <div class="wpb_wrapper">
                        <p style="text-align: justify;">
                        Legalbtcmining LTD is United Kingdom registered company, (Company Number: 12057659, 10 Melbury Road, Kensington, London, United Kingdom, W14 8LW),we are an 24/7 crypto-currency trading platform that works automatically, and it has been registered in the UK company, we offer a no-experience trading method to help you remove unnecessary risks. Over the past five years, our experts have come up with a workable automated arbitrage trading software from manual strategic trading that can help you earn a lot of money. In 2020, we made a record of $1 million per day. From spot trading, futures trading and investment ICO project, we invested BTC, ETH and XRP heavily through our analysis and earned tens of millions of dollars.
                        </p>
                        </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                        <div class="wpb_wrapper">
                        <p style="text-align: justify;">
                        </p>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper"><div data-rstyle="height:|||90;" class="anps-empty-space"></div></div>
                        </div>
                        </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_column-gap-30">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <h2 class="anps-heading" style="text-align: left;">
                        <span style="font-weight: 600;" data-rstyle="margin-bottom:|||20;font-size:|||30;line-height:|||1.3;" class="anps-heading__text">
                        Why We Exist?
                        Vision & Mission
                        </span>
                        </h2>
                        <div class="wpb_text_column wpb_content_element vc_custom_1524228952501">
                        <div class="wpb_wrapper">
                        <p style="text-align: left;">
                        We are uniting all key aspects of running an efficient cryptocurrency trading operation. From building highly efficient data centers to providing a streamlined mining system for our users.
                        Our mission and ultimate goal is to make cryptocurrency trading an easy, smart and profiting experience for all.
                        </p>
                        </div>
                        </div>
                        <div data-rstyle="height:|||30;" class="anps-empty-space"></div>
                        <div class="anps-btn-wrap anps-btn-wrap--left"><a data-rstyle="width:|||220;" href="account" class="anps-btn anps-btn--md anps-btn--style-0 anps-btn--gradient">Registration</a></div>
                        <div data-rstyle="height:|20||0;" class="anps-empty-space"></div>
                        </div>
                        </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <h4 class="anps-heading" style="text-align: left;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||15;font-size:|||;line-height:|||;" class="anps-heading__text"> Safe & Easy Investments </span>
                        </h4>
                        <div class="wpb_text_column wpb_content_element vc_custom_1524574178434">
                        <div class="wpb_wrapper">
                        <p></p>
                        </div>
                        </div>
                        <div data-rstyle="height:|||35;" class="anps-empty-space"></div>
                        <h4 class="anps-heading" style="text-align: left;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||15;font-size:|||;line-height:|||;" class="anps-heading__text"> Crypto Opportunities </span>
                        </h4>
                        <div class="wpb_text_column wpb_content_element vc_custom_1524574197946">
                        <div class="wpb_wrapper">
                        <p></p>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <h4 class="anps-heading" style="text-align: left;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||15;font-size:|||;line-height:|||;" class="anps-heading__text">24/7 Customer Support</span>
                        </h4>
                        <div class="wpb_text_column wpb_content_element vc_custom_1524574187721">
                        <div class="wpb_wrapper">
                        <p></p>
                        </div>
                        </div>
                        <div data-rstyle="height:|||35;" class="anps-empty-space"></div>
                        <h4 class="anps-heading" style="text-align: left;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||15;font-size:|||;line-height:|||;" class="anps-heading__text">DDoS Protected System</span>
                        </h4>
                        <div class="wpb_text_column wpb_content_element vc_custom_1524574202778">
                        <div class="wpb_wrapper">
                        <p></p>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper"><div data-rstyle="height:|30|40|60;" class="anps-empty-space"></div></div>
                        </div>
                        </div>
                        </div>
                        </div></div></div></div> </main>
                        <div style="background: #000537">
                        <div class="container content-container">
                        <div class="row">
                        <div class="col-md-12">
                        <div class="page-content-wrap">
                        <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-offset-2 vc_col-md-8">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <br><br>
                        <h3 class="anps-heading" style="text-align: center;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||20;font-size:|||;line-height:|||;" class="anps-heading__text">Our advantages</span>
                        </h3>
                        <p class="anps-heading" style="text-align: center;">
                        <span style="font-weight: 300;" data-rstyle="margin-bottom:|||;font-size:|||20;line-height:|||;" class="anps-heading__text">
                        </span>
                        </p>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper"><div data-rstyle="height:|30|40|50;" class="anps-empty-space"></div></div>
                        </div>
                        </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1519980602043 vc_column-gap-30">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <style>.vc_custom_1521193176589{background-color:#febd41!important;border-radius:100%!important}</style>
                        <div class="anps-icon anps-icon--left-content anps-icon--v-top">
                        <div class="anps-icon__col anps-icon__col--icon">
                        <div style="color: #000537;text-align: center; line-height: 40px;" data-rstyle="font-size:|||18;width:|||40;height:|||40;margin-right:|||25;margin-bottom:|||25;margin-left:|||0;" class="anps-icon__wrap vc_custom_1521193176589">
                        <i class="anps-icon__icon fa fa-check"></i>
                        </div>
                        </div>
                        <div class="anps-icon__col anps-icon__col--content">
                        <h4 class="anps-heading" style="text-align: left;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||10;font-size:|||;line-height:|||;" class="anps-heading__text">liquidity enhancements</span>
                        </h4>
                        <div class="wpb_text_column wpb_content_element vc_custom_1524229105549">
                        <div class="wpb_wrapper">
                        <p style="text-align: left;"></p>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <style>.vc_custom_1521193217927{background-color:#febd41!important;border-radius:100%!important}</style>
                        <div class="anps-icon anps-icon--left-content anps-icon--v-top">
                        <div class="anps-icon__col anps-icon__col--icon">
                        <div style="color: #000537;text-align: center; line-height: 40px;" data-rstyle="font-size:|||18;width:|||40;height:|||40;margin-right:|||25;margin-bottom:|||25;margin-left:|||0;" class="anps-icon__wrap vc_custom_1521193217927">
                        <i class="anps-icon__icon fa fa-check"></i>
                        </div>
                        </div>
                        <div class="anps-icon__col anps-icon__col--content">
                        <h4 class="anps-heading" style="text-align: left;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||10;font-size:|||;line-height:|||;" class="anps-heading__text">privold fund objective and suitability</span>
                        </h4>
                        <div class="wpb_text_column wpb_content_element vc_custom_1524229109164">
                        <div class="wpb_wrapper">
                        <p style="text-align: left;"></p>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        
                        
                        <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper"><div data-rstyle="height:|0||30;" class="anps-empty-space"></div></div>
                        </div>
                        </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_column-gap-30">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <style>.vc_custom_1521193238557{background-color:#febd41!important;border-radius:100%!important}</style>
                        <div class="anps-icon anps-icon--left-content anps-icon--v-top">
                        <div class="anps-icon__col anps-icon__col--icon">
                        <div style="color: #000537;text-align: center; line-height: 40px;" data-rstyle="font-size:|||18;width:|||40;height:|||40;margin-right:|||25;margin-bottom:|||25;margin-left:|||0;" class="anps-icon__wrap vc_custom_1521193238557">
                        <i class="anps-icon__icon fa fa-check"></i>
                        </div>
                        </div>
                        <div class="anps-icon__col anps-icon__col--content">
                        <h4 class="anps-heading" style="text-align: left;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||10;font-size:|||;line-height:|||;" class="anps-heading__text">zero fees & diversification advantages</span>
                        </h4>
                        <div class="wpb_text_column wpb_content_element vc_custom_1524229113579">
                        <div class="wpb_wrapper">
                        <p style="text-align: left;"></p>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <style>.vc_custom_1521193228634{background-color:#febd41!important;border-radius:100%!important}</style>
                        <div class="anps-icon anps-icon--left-content anps-icon--v-top">
                        <div class="anps-icon__col anps-icon__col--icon">
                        <div style="color: #000537;text-align: center; line-height: 40px;" data-rstyle="font-size:|||18;width:|||40;height:|||40;margin-right:|||25;margin-bottom:|||25;margin-left:|||0;" class="anps-icon__wrap vc_custom_1521193228634">
                        <i class="anps-icon__icon fa fa-check"></i>
                        </div>
                        </div>
                        <div class="anps-icon__col anps-icon__col--content">
                        <h4 class="anps-heading" style="text-align: left;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||10;font-size:|||;line-height:|||;" class="anps-heading__text">social and environmentally conscious product</span>
                        </h4>
                        <div class="wpb_text_column wpb_content_element vc_custom_1524229117445">
                        <div class="wpb_wrapper">
                        <p style="text-align: left;"></p>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div></div></div></div>
                        </div>
                        <main class="site-main">
                        <div class="container content-container">
                        <div class="row">
                        <div class="col-md-12">
                        <div class="page-content-wrap">
                        <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper"><div data-rstyle="height:|0||60;" class="anps-empty-space"></div></div>
                        </div>
                        </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_column-gap-30 vc_row-o-content-middle vc_row-flex">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <h5 class="anps-heading" style="text-align: left;">
                        <span style="color: #fff; font-weight: 600;" data-rstyle="margin-bottom:|||10;font-size:|||;line-height:|||;" class="anps-heading__text"></span>
                        </h5>
                        <h2 class="anps-heading" style="text-align: left;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||20;font-size:34|28|36|;line-height:|||;" class="anps-heading__text">
                        About Legalbtcmining LTD
                        </span>
                        </h2>
                        <div class="wpb_text_column wpb_content_element vc_custom_1524228490332">
                        <div class="wpb_wrapper">
                        <p style="text-align: justify">
                        Since Legalbtcmining LTD has demonstrated outstanding performance and significantly expanded its assets in the previous period, the decision was made to start offering its investment products via specialized online services.
                        The Company is not a member, associate or subdivision of any other organization, so it is free to make totally independent decisions. Our team of full-time financial experts ensures effective and quick analysis of the current financial situation. Our mission is to provide every person the opportunity to gain maximal profit from investing at minimal risk.
                        </p>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <div class="anps-side-container">
                        <div class="anps-box">
                        <div class="anps-box__wrap">
                        <div class="wpb_single_image wpb_content_element vc_align_left">
                        <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper vc_box_border_grey">
                        <img width="1000" height="674" src="images/about2.html" class="vc_single_image-img attachment-full" alt=""/>
                        </div>
                        </figure>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div></div></div></div></main>
                    <%- include('_partials/footer') %>
                </div>
            </div>
        </body>
    </html>