<!DOCTYPE html>
    <html lang="en-US">
        <%- include('_partials/header') %>
        <body class="home page-template-default page page-id-6 stickyheader header-spacing-off wpb-js-composer js-comp-ver-5.4.5 vc_responsive">                <div class="site-wrap">
                    <%- include('_partials/nav') %>
                    <div style="height: 220px; margin-bottom: 0px;background: url(images/header.jpg) bottom right no-repeat #0a1992;"></div><main class="site-main"><div class="container content-container"><div class="row"><div class="col-md-12"><div class="page-content-wrap">
                        <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-offset-2 vc_col-md-8">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <h3 class="anps-heading" style="text-align: center;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||20;font-size:|||;line-height:|||;" class="anps-heading__text">Contact our support</span>
                        </h3>
                        <p class="anps-heading" style="text-align: center;">
                        <span style="font-weight: 300;" data-rstyle="margin-bottom:|||;font-size:|||20;line-height:|||;" class="anps-heading__text">
                        We will respond to you within 48 hours
                        </span>
                        </p>
                        
                        
                        
                        <div data-rstyle="height:|||60;" class="anps-empty-space"></div>
                        <div role="form" class="wpcf7" id="wpcf7-f4-p641-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <%- include('_partials/message', {message:message}) %>
                        <script language=javascript>function checkform(){if(document.mainform.name.value==''){alert("Please type your full name!");document.mainform.name.focus();return false;}if(document.mainform.email.value==''){alert("Please enter your e-mail address!");document.mainform.email.focus();return false;}if(document.mainform.message.value==''){alert("Please type your message!");document.mainform.message.focus();return false;}return true;}</script>
                        <form method=post action="/contact" name=mainform onsubmit="return checkform()"><input type="hidden" name="form_id" value="15938633732192"><input type="hidden" name="form_token" value="290fa73aff63014a0c42a3c87a70dfb0">
                        <input type=hidden name=a value=support>
                        <input type=hidden name=action value=send>
                        <div class="row">
                        <fieldset class="form-group col-md-6">
                        <label>Name</label><br/>
                        <span class="wpcf7-form-control-wrap fullname">
                        <input class="inpts" type="text" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name" name="name" value=""/>
                        </span>
                        <br/>
                        </fieldset>
                        <fieldset class="form-group col-md-6">
                        <label>Email</label><br/>
                        <span class="wpcf7-form-control-wrap email">
                        <input class="inpts" type="email" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" name="email" value=""/>
                        </span>
                        <br/>
                        </fieldset>
                        <fieldset class="form-group col-md-12">
                        <label>Message</label><br/>
                        <span class="wpcf7-form-control-wrap message">
                        <textarea class="inpts" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Message" style="width: 100%; resize: none" name=message></textarea>
                        </span>
                        <br/>
                        </fieldset>
                        <fieldset class="form-group col-md-12">
                        <div class="anps-btn-wrap anps-btn-wrap--center"><button class="anps-btn anps-btn--md anps-btn--style-1 anps-btn--normal">Send message</button></div>
                        <br/>
                        </fieldset>
                        </div>
                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-offset-2 vc_col-md-8">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <div data-rstyle="height:|50|50|50;" class="anps-empty-space"></div>
                        <h3 class="anps-heading" style="text-align: center;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||20;font-size:|||;line-height:|||;" class="anps-heading__text">Our contacts</span>
                        </h3>
                        <h5 class="anps-heading" style="text-align: center;">
                        <span style="color: #fff; font-weight: 300;" data-rstyle="margin-bottom:|||;font-size:|||;line-height:|||;" class="anps-heading__text">
                        </span>
                        </h5>
                        <div data-rstyle="height:|50|60|70;" class="anps-empty-space"></div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <style>.vc_custom_1524744366429{background-color:#000537!important}</style>
                        <div class="anps-box vc_custom_1524744366429 anps-box--shadow">
                        <div data-rstyle="padding:|30 15||60 50;" class="anps-box__wrap">
                        <style>.vc_custom_1524744059319{border-radius:100%!important}</style>
                        <div class="anps-icon anps-icon--center anps-icon--v-top">
                        <div class="anps-icon__col anps-icon__col--icon">
                        <div style="color: #fff;" data-rstyle="font-size:|||35;width:|||;height:|||;margin-right:|||30;margin-bottom:|||30;margin-left:|||30;" class="anps-icon__wrap vc_custom_1524744059319">
                        <div data-rstyle="width:|||35;height:|||35;" style="width: 35px; height: 35px; margin:0px auto 25px auto" class="anps-icon__image">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g>
                        <g stroke="currentColor" stroke-linejoin="round" stroke-miterlimit="10" fill="none">
                        <path stroke-linecap="round" d="M2.5 14.5c-1.104 0-2-.896-2-2s.896-2 2-2M14.5 21.5h2c1.934 0 3.5-1.066 3.5-3v-1.064"/>
                        <circle stroke-linecap="round" cx="13" cy="21.5" r="1.5"/>
                        <path stroke-linecap="round" d="M6.5 17.5h-2c-1.104 0-2-.896-2-2v-6c0-1.104.896-2 2-2h2v10zM21.5 14.5c1.104 0 2-.896 2-2s-.896-2-2-2"/>
                        <path stroke-linecap="round" d="M17.5 17.5h2c1.104 0 2-.896 2-2v-6c0-1.104-.896-2-2-2h-2v10z"/>
                        <path d="M5 7.5c0-3.866 3.134-7 7-7 3.865 0 7 3.134 7 7"/>
                        </g>
                        </g>
                        <path fill="none" d="M0 0h24v24h-24z"/>
                        </svg>
                        </div>
                        </div>
                        </div>
                        <div class="anps-icon__col anps-icon__col--content">
                        <h4 class="anps-heading" style="text-align: center;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||15;font-size:|||;line-height:|||;" class="anps-heading__text">Support</span>
                        </h4>
                        <div class="wpb_text_column wpb_content_element">
                        <div class="wpb_wrapper">
                        <p style="text-align: center;">
                        info@Legalbtcmining.com<br/>
                        </p>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div data-rstyle="height:|30||0;" class="anps-empty-space"></div>
                        </div>
                        </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <style>.vc_custom_1524744372115{background-color:#000537!important}</style>
                        <div class="anps-box vc_custom_1524744372115 anps-box--shadow">
                        <div data-rstyle="padding:|30 15||60 50;" class="anps-box__wrap">
                        <style>.vc_custom_1524744015347{border-radius:100%!important}</style>
                        <div class="anps-icon anps-icon--center anps-icon--v-top">
                        <div class="anps-icon__col anps-icon__col--icon">
                        <div style="color: #fff;" data-rstyle="font-size:|||35;width:|||;height:|||;margin-right:|||30;margin-bottom:|||30;margin-left:|||30;" class="anps-icon__wrap vc_custom_1524744015347">
                        <div data-rstyle="width:|||35;height:|||35;" style="width: 35px; height: 35px; margin:0px auto 25px auto" class="anps-icon__image">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g>
                        <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none">
                        <path d="M19.5 2.5h2v21h-18v-21h2"/>
                        <path d="M14.5 2.5c0-1.104-.895-2-2-2-1.104 0-2 .896-2 2h-3v3h10v-3h-3zM7.5 4.5h-2v17h10v-4h4v-13h-2M19.5 17.5l-4 4M8.5 9.5h8M8.5 11.5h8M8.5 13.5h8M8.5 15.5h4.5"/>
                        </g>
                        </g>
                        <path fill="none" d="M0 0h24v24h-24z"/>
                        </svg>
                        </div>
                        </div>
                        </div>
                        <div class="anps-icon__col anps-icon__col--content">
                        <h4 class="anps-heading" style="text-align: center;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||15;font-size:|||;line-height:|||;" class="anps-heading__text">Email</span>
                        </h4>
                        <div class="wpb_text_column wpb_content_element">
                        <div class="wpb_wrapper">
                        <p style="text-align: center;">
                        info@Legalbtcmining.com<br/>
                        </p>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div data-rstyle="height:|30||0;" class="anps-empty-space"></div>
                        </div>
                        </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                        <style>.vc_custom_1524744377388{background-color:#000537!important}</style>
                        <div class="anps-box vc_custom_1524744377388 anps-box--shadow">
                        <div data-rstyle="padding:|30 15||60 50;" class="anps-box__wrap">
                        <style>.vc_custom_1524744090584{border-radius:100%!important}</style>
                        <div class="anps-icon anps-icon--center anps-icon--v-top">
                        <div class="anps-icon__col anps-icon__col--icon">
                        <div style="color: #fff;" data-rstyle="font-size:|||35;width:|||;height:|||;margin-right:|||30;margin-bottom:|||30;margin-left:|||30;" class="anps-icon__wrap vc_custom_1524744090584">
                        <div data-rstyle="width:|||35;height:|||35;" style="width: 35px; height: 35px; margin:0px auto 25px auto" class="anps-icon__image">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-miterlimit="10">
                        <path d="M9.497 22.5H18.5s0-3.352-.474-4.781c-.413-1.244-3.396-2.076-6.526-3.255v-2.5s1-.619 1-3c1 0 1-2 0-2 0-.234 1.078-1.678.75-3-.474-1.904-6.151-1.904-6.625 0-2.369-.476-1.125 2.681-1.125 3v2c0 2.381 2 3 2 3v2.5C4.722 15.52 1.386 16.476.974 17.719.5 19.148.5 22.5.5 22.5h8.997z"/>
                        <path stroke-linecap="round" d="M21 22.5h2.5s0-3.352-.474-4.781c-.413-1.244-3.396-2.576-6.526-3.755v-1.5s1-.619 1-3c1 0 1-2 0-2 0-.234 1.078-1.862.75-3.184-.222-.891-2.125-2.298-3.625-1.298"/>
                        </g>
                        <g><path fill="none" d="M0 0h24v24H0z"/></g>
                        </svg>
                        </div>
                        </div>
                        </div>
                        <div class="anps-icon__col anps-icon__col--content">
                        <h4 class="anps-heading" style="text-align: center;">
                        <span style="font-weight: 700;" data-rstyle="margin-bottom:|||15;font-size:|||;line-height:|||;" class="anps-heading__text">Customer Care</span>
                        </h4>
                        <div class="wpb_text_column wpb_content_element">
                        <div class="wpb_wrapper">
                        <p style="text-align: center;">
                        Online Support 24/7<br/>
                        </p>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div data-rstyle="height:|30||0;" class="anps-empty-space"></div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper"><div data-rstyle="height:|0|10|20;" class="anps-empty-space"></div></div>
                        </div>
                        </div>
                        </div>
                        </div></div></div></div></main>
                    <%- include('_partials/footer') %>
                </div>
            </div>
        </body>
    </html>