<div class="top-bar top-bar--desktop top-bar--mobile">
    <div class="container">
      <div class="top-bar-row">
      <div class="top-bar-left">
        <div id="anpstext-2" class="widget widget_anpstext">
          <ul class="contact-info">
            <li class="contact-info-item" style="list-style: none"><i class="fa fa-map-marker" style="color: #ffad21; margin-right: 10px"></i><span class="important" style="color: #fdfdfd;">10 Melbury Road, Kensington, London, United Kingdom, W14 8LW</span></li>
          </ul>
        </div>
      </div>
      <div class="top-bar-right">
        <div id="anpstext-3" class="widget widget_anpstext">
          <ul class="contact-info">
            <li class="contact-info-item" style="list-style: none"><i class="fa fa-envelope-o" style="color: #ffad21; margin-right: 5px"></i><span class="important" style="color: #fdfdfd;"> info@legalbtcmining.com </span></li>
          </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        <header class="anps-header anps-header--top anps-header--shadow anps-header--transparent anps-header--right">
  
            <div class="anps-header__wrap"><div class="anps-header__bar" data-height="90px" data-m-height="74px">
              <div class="container">
                <div class="anps-header__content">
                  <div class="anps-logo">

                    <a href="/">

                    <span class="anps-logo__main"><img src="images/legal_btc_logo.png" alt="CryptoNode" class="logo-img" style="width: 250px"/></span>
                    <span class="anps-logo__sticky"><img src="images/legal_btc_logo.png" alt="CryptoNode" class="logo-img" style="width: 200px"/></span>
                    <span class="anps-logo__mobile"><img src="images/legal_btc_logo.png" alt="CryptoNode" class="logo-img" style="width: 250px"/></span>

                    </a>


                  </div>
                  <nav class="anps-main-nav">
                    <ul id="anps-main-menu" class="anps-main-menu">
                      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Home</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about-us">About us</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/faq">FAQ</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/rules">Rules</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact-us">Contact us</a></li>
                      <li class="menu-button"><a href="/dashboard" target="_self" class="anps-btn anps-btn--menu anps-btn--style-8 anps-btn--border"> DASHBOARD</a></li>
                    </ul>
                  </nav>

                  <button class="anps-menu-toggle"><i class="fa fa-bars"></i></button>
                </div>
              </div>
            </div>
          </div>

          </header>

          <nav class="anps-mobile-menu">
            <ul id="main-menu" class="main-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Home</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about-us">About us</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/faq">FAQ</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/rules">Rules</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact-us">Contact us</a></li>
               <li class="menu-button"><a href="/dashboard" target="_self" class="anps-btn anps-btn--menu anps-btn--style-8 anps-btn--border"> DASHBOARD</a></li>
              </li>
            </ul>

          </nav>
