<footer class="main-footer">
    <strong>Copyright &copy; Legal Btc Mining</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
    
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="plugins/jquery/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="plugins/jquery/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="plugins/jquery/Chart.min.js"></script>
<!-- Sparkline -->
<script src="plugins/jquery/sparkline.js"></script>
<!-- JQVMap -->
<script src="plugins/jquery/jquery.vmap.min.js"></script>
<script src="plugins/jquery/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/jquery/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="plugins/jquery/moment.min.js"></script>
<script src="plugins/jquery/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="plugins/jquery/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="plugins/jquery/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="plugins/jquery/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="plugins/jquery/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="plugins/jquery/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="plugins/jquery/demo.js"></script>


<script src="//code.tidio.co/34arzz6pxwus6burr3i5odrwoywhqq34.js" async></script>
<% if(basic){ %>
    <!-- WhatsHelp.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: basic.phone, 
                text: "Hello, how may we help you? Just send us a message now to get assistance.",
                abid:basic.phone,// WhatsApp number
               
                call_to_action: "Message us", // Call to action
                position: "left", // Position may be 'right' or 'left'
            };
            var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- /WhatsHelp.io widget --> 
    <% } %>
<script>